<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>代入・式の値</title>
<link rel="stylesheet"
 type="text/css"
 href="演習・問題ページ.css">
<script src="/js/brython.js"></script>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="team_app/templates/mypage.html">マイページ</a></li>
        <li><a href="#1">前のページ</a></li>
        <li><a href="四則演算.html">授業に戻る</a></li>
        <li><a href="#1">次の授業</a></li>
      </ul>
     </div>
<h1>代入・式の値</h1>
<div class="exercises">
<h2></h2>
<h3>以下の問題を解いてください。</h3>
<p><br>(1)x=3のとき、x+3の値を選びなさい。<br>
<input type="radio" name="Q1-1" value="5">5
<input type="radio" name="Q1-1" value="6">6
<input type="radio" name="Q1-1" value="7">7
<br>(2)x=2のとき、x²-4x+4の値を選びなさい。<br>
<input type="radio" name="Q1-2" value="-47/15">0
<input type="radio" name="Q1-2" value="77/15">4
<input type="radio" name="Q1-2" value="52/5">8
<br>(3)x=-3のとき、x³の値を選びなさい。<br>
<input type="radio" name="Q1-3" value="-47/15">-9
<input type="radio" name="Q1-3" value="77/15">-27
<input type="radio" name="Q1-3" value="52/5">3
<br>(4)x=7/2のとき、3/xの値を選びなさい。<br>
<input type="radio" name="Q1-4" value="-47/15">7
<input type="radio" name="Q1-4" value="77/15">6/7
<input type="radio" name="Q1-4" value="52/5">3/7</p>

</div>
<div class="REPL">
<!--ここにBrython(javascriptのライブラリらしい)を直接埋め込みたい-->
<iframe src="http://brython.info/console.html" width="500" height="400"></iframe>
</div>
</body>
</html>