<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>四則演算</title>
<link rel="stylesheet"
 type="text/css"
 href="演習・問題ページ.css">
<script src="/js/brython.js"></script>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="team_app/templates/mypage.html">マイページ</a></li>
        <li><a href="#1">前のページ</a></li>
        <li><a href="四則演算.html">授業に戻る</a></li>
        <li><a href="#1">次の授業</a></li>
      </ul>
     </div>
<h1>四則演算</h1>
<div class="exercises">
<h2></h2>
<h3>A=3,B=4/5,C=8/3,D=-3のとき、以下の式の答えを選びなさい。</h3>
<p><br>(1)A+B*C<br>
<input type="radio" name="Q1" value="-47/15">-47/15
<input type="radio" name="Q1" value="77/15">77/15
<input type="radio" name="Q1" value="52/5">52/5
<br>(2)A÷D-B*C<br>
<input type="radio" name="Q2" value="-47/15">-47/15
<input type="radio" name="Q2" value="77/15">77/15
<input type="radio" name="Q2" value="52/5">52/5
<br>(3)A*B+A*C<br>
<input type="radio" name="Q3" value="-47/15">-47/15
<input type="radio" name="Q3" value="77/15">77/15
<input type="radio" name="Q3" value="52/5">52/5</p>
</div>
<div class="REPL">
<div class="Brython">
<!--ここにBrython(javascriptのライブラリらしい)を直接埋め込みたい-->
<iframe src="http://brython.info/console.html" width="500" height="400"></iframe>
</div>
</div>
</body>
</html>