<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>四則演算</title>
<link rel="stylesheet"
 type="text/css"
 href="授業ページ２.css">
 <script src="/js/brython.js"></script>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="team_app/templates/mypage.html">マイページ</a></li>
        <li><a href="#1">前のページ</a></li>
        <li><a href="四則演算・問題.html">問題を解く</a></li>
        <li><a href="#1">次の授業</a></li>
      </ul>
     </div>
<h1>四則演算</h1>
<div class="lesson">
<h2>四則演算</h2>
<h3>加法、減法、乗法、除法が混じっている計算を四則演算という。<br>
四則演算では、計算する順序がとても重要である。<br>
加減と乗除が混じっている場合、乗除を先に計算する。<br></h3>
<p>(例1)：12–(–3)×(–5)<br>
12–(–3)×(–5) = 12–(+15)<br>
　　　　　　　 = 12–15<br>
　　　　　　　 = –3<br></p>
<p>(例2)：(–3)×(–6)+(–28)÷4<br>
(–3)×(–6)+(–28)÷4 = 18+(–7)<br>
　　　　　　　　　　 = 18–7<br>
　　　　　　　　　　 = 11<br></p>
<h3>累乗を含む場合、まず累乗を計算して、乗除、加減の順に計算する。</h3>
<p>(例1)：(−15)÷(−5)−(−2)³<br>
(−15)÷(−5)−(−2)³　←まず累乗を計算<br>
=(−15)÷(−5)−(−8)　←乗除を計算<br>
=3-(-8)　　　　　　　←加減を計算<br>
=11<br></p>
<p>(例2)：(-24)÷23-(-5)×(-3)²<br>
(-24)÷23-(-5)×(-3)²	←まず累乗を計算<br>
=(-24)÷8-(-5)×9　　←乗除を計算<br>
=(-3)-(-45)　　　　　←加減を計算<br>
=42<br></p>
                  
<h3>かっこを含むときはかっこの中身を先に計算する。<br>
｛　｝の中に（　）が入っている場合、（　）の中身を先に計算する。<br></h3>
<p>(例1)：24÷(5–8)<br>
24÷(5–8) = 24÷(-3)<br>
　　　　　= –8<br></p>
<p>(例2)：15–{16÷(5–7)}<br>
15–{16÷(5–7)} = 15–{16÷(–2)}<br>
　　　　　　　　 = 15–(–8)<br>
　　　　　　　　 = 23<br></p>
                  
<h2>分配法則</h2>
<h3>かっこを開いて起算する方法を分配法則という。<br>
かっこのある式では普通かっこ内を計算するが、分配法則でかっこを開いてから計算したほうが計算しやすい場合がある。<br></h3>
<p>a × (b + c) = a×b + a×c<br>
(例)：18 × (4/9 – 5/6)<br></p>
<h3>このような計算ではかっこの中の分数を先に計算するより、分配法則でかっこを開いたほうが計算しやすい。<br></h3>
<p>18 × (4/9 – 5/6) = 18 × 4/9 – 18 × 5/6<br>
　　　　　　　　  = 8 – 15<br>
　　　　　　　　  = –7<br></p>
</div>

<div class="REPL">
<ul>
<div class="Brython">
<a href="https://replit.com/languages/python3" target="_blank" rel="norefferrer"><label>Repl.itを開く</label></a>
<label class="Push" for="Push">この下にREPLを開く</label>
<iframe src="http://brython.info/console.html" width="800" height="400"></iframe><input type="checkbox" id="Push">
</div>
</ul>
</div>
</body>
</html>