<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>～教材名を挿入～</title>
<link rel="stylesheet"
 type="text/css"
 href="演習・問題ページ.css">
<script src="/js/brython.js"></script>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="team_app/templates/mypage.html">マイページ</a></li>
        <li><a href="#1">前のページ</a></li>
        <li><a href="四則演算.html">授業に戻る</a></li>
        <li><a href="#1">次の授業</a></li>
      </ul>
     </div>
<h1>平方根</h1>
<div class="exercises">
<h2></h2>
<h3>以下の問題を解いてください。</h3>
<p><br>(1)（□）² = 4の平方根を選びなさい。<br>
<input type="radio" name="Q1" value="±2">±2
<input type="radio" name="Q1" value="±5">±5
<input type="radio" name="Q1" value="±4">±4
<br>(2)（□）² = 25の平方根を選びなさい。<br>
<input type="radio" name="Q2" value="±6">±6
<input type="radio" name="Q2" value="±5">±5
<input type="radio" name="Q2" value="±9">±9
<br>(3)√3*√3の答えを選びなさい。<br>
<input type="radio" name="Q3" value="√6">√6
<input type="radio" name="Q3" value="3">3
<input type="radio" name="Q3" value="6">6
</p>
</div>
<div class="REPL">
<!--ここにBrython(javascriptのライブラリらしい)を直接埋め込みたい-->
<iframe src="http://brython.info/console.html" width="500" height="400"></iframe>
</div>
</body>
</html>