<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>関数</title>
<link rel="stylesheet"
 type="text/css"
 href="演習・問題ページ.css">
<script src="/js/brython.js"></script>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="team_app/templates/mypage.html">マイページ</a></li>
        <li><a href="#1">前のページ</a></li>
        <li><a href="関数.html">授業に戻る</a></li>
        <li><a href="#1">次の授業</a></li>
      </ul>
     </div>
<h1>変数</h1>
<div class="exercises">
<h2>変数</h2>
<h3>にんじん、たまねぎ、カレールーを購入した時の消費税8%を加算したときを計算しましょう。
<br>にんじんは７８円、たまねぎは９８円、カレールーは１８３円とします。</h3>

<p><br>(1)この場合の変数を設定しなさい。設定する変数の名前はにんじん→N、たまねぎ→T、カレールー→Cとしなさい。<br>
<textarea rows="3" cols="20"></textarea>

<br>(2)消費税は加算せずに合計金額を計算しなさい。<br>
<textarea rows="1" cols="20"></textarea>

<br>(3)消費税を入れた合計金額を計算しなさい。小数点が出た場合は切り捨てて入力しなさい。<br>
<textarea rows="1" cols="20"></textarea></p>

<h2>変域</h2>
<h3>以下の時、[ ]にあてはまる記号を選びなさい。</h3>
<p>(1)xは４より大きい。
<br>　ｘ[　]４
<br><input type="radio" name="Q1" value="＞">＞
<input type="radio" name="Q1" value="＜">＜
<br>(2)yは２以上。
<br>　ｘ[　]２
<br><input type="radio" name="Q2" value="≧">≧
<input type="radio" name="Q2" value="≦">≦
<br>(3)zは３以上９以下。
<br>　３[①]ｚ[②]９
<br>①<input type="radio" name="Q3" value="≧">≧
<input type="radio" name="Q3" value="≦">≦
<br>②<input type="radio" name="Q3-2" value="≧">≧
<input type="radio" name="Q3-2" value="≦">≦</p>

</div>
<div class="REPL">
<div class="Brython">
<!--ここにBrython(javascriptのライブラリらしい)を直接埋め込みたい-->
<iframe src="http://brython.info/console.html" width="500" height="400"></iframe>
</div>
</div>
</body>
</html>