div.lesson{
    width:65%;
    float:left;
}
div.REPL{
    width:35%;
    float:left;
    text-align:center;
}
div.title{
    margin: 0;
    padding: 10px 0 10px 0;
    border-bottom: solid 2px #666666;
    font-family: sans-serif;
    font-size: 10px;
    color: #ffffff;
    background-color: #333333;
}
h1{
    color: #000000;
    text-align:center;
}
h2{
    color: #000000;
    text-align:center;

}
span{
    text-align:center;
    float:right;
}
iframe{
    position:fixed;
    bottom:0px;
}