{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>INIAD</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css\authtest.css' %}">
  </head>

  <body>
    <div class="title-header">
      <h1 class="title">────数プロ────</h1>
    </div>

    {% if user.is_authenticated %}
    <p>ようこそ {{ user.username }}!</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}

    <p>ログインしていません<p>
    <div>
      <a href="{% url 'login' %}" class="login-buttom">login</a>
    </div>
    <div>
      <a href="{% url 'signup' %}" class="login-buttom">signup</a>
    </div>
    {% endif %}

</body>
</html>