<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>～教材名を挿入～</title>
<link rel="stylesheet"
 type="text/css"
 href="演習・問題ページ.css">
<script src="/js/brython.js"></script>
</head>

<body>
<div  class="title">～ここにアプリ名を挿入～</div>
<h1>～科目名を挿入～</h1>
<div class="exercises">
<h2>～見出しを挿入～</h2>
<ol>～問題を挿入～  <textarea rows="1" cols="20"></textarea></ol>
</div>
<div class="REPL">
<!--ここにBrython(javascriptのライブラリらしい)を直接埋め込みたい-->
<iframe src="http://brython.info/console.html" width="500" height="400"></iframe>
</div>
</body>
</html>